<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOZjxTxn3QP7V00K8CtFsi9IkKR5C2zAo</string>
	<key>GCM_SENDER_ID</key>
	<string>896688723820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.npedigital.elogbook</string>
	<key>PROJECT_ID</key>
	<string>elogbook-service-fa5d4</string>
	<key>STORAGE_BUCKET</key>
	<string>elogbook-service-fa5d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896688723820:ios:eeb5783fcf26f1632d4549</string>
</dict>
</plist>